.App {
    margin:0;
    font-family: 'Source Sans Pro', sans-serif;
}

.scene{
    height: 100vh;
    display: block;
    background-attachment: fixed;
    background-size: cover;
}

.scene header{
    color: white;
    position: relative;
    top:50%;
    transform:translateY(-50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    position: sticky;
}

.scene h1{
    font-size: 2rem;
    color: white;
    margin:0 auto;
    text-align: center;
}

.scene h1:after{
    content: '';
    border-bottom: 1px solid white;
    display: block;
    width: 8rem;
    margin:10px auto;
}

.scene.one{
    background-image:url(/public/cartagena.jpeg);

}

.scene.two{
    background-image:url(/public/medellin.jpeg);
}

.scene.three{
    background-image:url(/public/sangil.jpeg);
}

.map{
    position: fixed;
    right:20px;
    bottom: 20px;
    opacity: 100%;
}

.mapImg{
    width: 300px;
}

.cartagena, .medellin, .sangil, .bogo{
    position: absolute;
    z-index: 2;
}

.cartagena.pin{
    position: absolute;
    top:20px;
    left:80px;
    width: 30px;
    height: 30px;
}

.cartagena diagonal{
    width: 5px;
    height: 50px;
    background-color: red;
    transform: rotate(10deg);
}

.medellin.pin{
    top:120px;
    left:70px;
}
.sangil.pin{
    top:110px;
    left:120px;
}
.bogota.pin{
    top:160px;
    left:110px;
}