.App {
    margin:0;
    font-family: 'Source Sans Pro', sans-serif;
}

.scene{
    height: 100vh;
    display: block;
    background-attachment: fixed;
    background-size: cover;
}

.scene header{
    color: white;
    position: relative;
    top:50%;
    transform:translateY(-50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.scene h1{
    font-size: 2rem;
    color: white;
    margin:0 auto;
    text-align: center;
}

.scene h1:after{
    content: '';
    border-bottom: 1px solid white;
    display: block;
    width: 8rem;
    margin:10px auto;
}

.scene.one{
    background-image:url(/public/cartagena.jpeg);

}

.scene.two{
    background-image:url(/public/medellin.jpeg);
}

.scene.three{
    background-image:url(/public/sangil.jpeg);
}

.scene.four{
    background-image:url(/public/bogota.jpeg);
}

.map{
    position: fixed;
    right:20px;
    bottom: 20px;
    opacity: 100%;
}


.mapImg{
    width: 300px;
}

.cartagena, .medellin, .sangil, .bogota{
    position: absolute;
    width: 100%
}

.pin{
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 2;
}

.cartagena{
    top:20px;
    left:80px;
}

.medellin{
    top:120px;
    left:70px;
}
.sangil{
    top:110px;
    left:120px;
}
.bogota{
    top:160px;
    left:110px;
}

.diagonal{
    z-index: 4;
}
.cartagena .diagonal{
    position: absolute;
    top:30px;
    left: 8px;
    width: 0;
    height: 90px;
    transform: rotate(5deg);
}

.medellin .diagonal{
    position: absolute;
    top:0px;
    left: 39px;
    width: 0;
    height: 48px;
    transform: rotate(-100deg);
}

.sangil .diagonal{
    position: absolute;
    top:29px;
    left: 8px;
    width: 0;
    height: 48px;
    transform: rotate(10deg);
}

.diagonal .fill{
    border: 2px dashed red;
    height: 0%;
}

.placeName{
    position: absolute;
    bottom: -50px;
    color: white;
    background-color: black;
    z-index: 3;
    font-size: 12px;
    font-weight: bold;
    padding:2px;
    border-radius: 4px;
}