.App {
    margin:0;
    font-family: 'Gowun Dodum', sans-serif;

}

.scene{
    height: 100vh;
    display: block;
    background-attachment: fixed;
    background-size: cover;
}

.scene header{
    color: white;
    position: relative;
    top:50%;
    transform:translateY(-50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.scene h1{
    font-size: 2rem;
    color: white;
    margin:0 auto;
    text-align: center;
    font-family: 'Courgette', cursive;
    font-weight: 200;
}

.scene h1:after{
    content: '';
    border-bottom: 1px solid white;
    display: block;
    width: 8rem;
    margin:10px auto;
}

.scene.one{
    background-image:url(/public/cartagena.jpeg);

}

.scene.two{
    background-image:url(/public/medellin.jpeg);
}

.scene.three{
    background-image:url(/public/sangil.jpeg);
}

.scene.four{
    background-image:url(/public/bogota.jpeg);
}

.map{
    position: fixed;
    right:20px;
    bottom: 20px;
    opacity: 100%;
}

.mapImg{
    width: 300px;
    opacity: 0.8;
}

.cartagena, .medellin, .sangil, .bogota{
    position: absolute;
    width: 100%;
    cursor: pointer;
}

.pin{
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: 2;
}

.cartagena{
    top:20px;
    left:80px;
}

.medellin{
    top:120px;
    left:70px;
}
.sangil{
    top:110px;
    left:120px;
}
.bogota{
    top:160px;
    left:110px;
}

.cartagena .diagonal{
    position: absolute;
    top:25px;
    left: 6px;
    width: 0;
    height: 95px;
    transform: rotate(5deg);
}

.medellin .diagonal{
    position: absolute;
    top:-3px;
    left: 35px;
    width: 0;
    height: 48px;
    transform: rotate(-100deg);
}

.sangil .diagonal{
    position: absolute;
    top:20px;
    left: 5px;
    width: 0;
    height: 50px;
    transform: rotate(13deg);
}

.diagonal .fill{
    border: 1.5px dashed red;
    height: 0%;
}

.placeName{
    position: absolute;
    bottom: -45px;
    color: black;
    z-index: 3;
    font-size: 12px;
    font-weight: bold;
    padding:1px 3px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.31)
}

.sangil .placeName{
    transform: translate(25px,-20px);
}

@media screen and (max-width: 768px){
    .mapImg{
        width: 200px;
    }
    .cartagena, .sangil, .bogota, .medellin{
        transform: translate(-15%, -30%);
    }
    .pin{
        width: 20px;
        height: 20px;
    }
    .placeName{
        bottom: -42px;
        left:-10px;
    }
    .cartagena{
        top:18px;
        left:80px;
    }
    .medellin{
        top:90px;
        left:75px;
    }
    .sangil{
        top:85px;
        left:110px;
    }
    .bogota{
        top:115px;
        left:100px;
    }

    .sangil .placeName{
        transform: translate(32px,-20px);
    }

    .cartagena .diagonal{
        top:20px;
        left: 5px;
        height: 65px;
    }

    .medellin .diagonal{
        top:0px;
        left: 25px;
        height: 35px;
    }

    .sangil .diagonal{
        top:18px;
        left: 3px;
        height: 28px;
    }
}